@font-face {
    font-family: 'Sora';
    src: url("../fonts/Sora/Sora-VariableFont_wght.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url("../fonts/Hanken_Grotesk/HankenGrotesk-VariableFont_wght.ttf");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url("../fonts/Hanken_Grotesk/HankenGrotesk-Italic-VariableFont_wght.ttf");
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url("../fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url("../fonts/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf");
    font-style: italic;
    font-display: swap;
}